<a href="https://colab.research.google.com/github/naomiunk/IOT/blob/main/untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
print("Dictionary: ", json.dumps({"name": "John", "age": 30}))
print("List:       ", json.dumps(["apple", "bananas"]))
print("Tuple:      ", json.dumps(("apple", "bananas")))
print("String:     ", json.dumps("hello"))
print("Integer:    ", json.dumps(42))
print("Float:      ", json.dumps(9.6))
print("True:       ", json.dumps(True))
print("False:      ", json.dumps(False))
print("None:       ", json.dumps(None))

Dictionary:  {"name": "John", "age": 30}
List:        ["apple", "bananas"]
Tuple:       ["apple", "bananas"]
String:      "hello"
Integer:     42
Float:       31.76
True:        true
False:       false
None:        null

with open("s1.json", "r") as fid:
     z = json.load(fid)
        
print(z)
for key in z:
    print(key+":\t", z[key])

In [ ]:
with open("/content/drive/MyDrive/s1.json", "r") as fid:
     z = json.load(fid)

print(z)
for key in z:
    print(key+":\t", z[key])

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
name:	 John
age:	 30
married:	 True
divorced:	 False
children:	 ['Ann', 'Billy']
pets:	 None
cars:	 [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]